/*body*/
body {
    font-family: Garamond, serif;
    color: #224726;
}
h1, h3, .nav-link {
    font-family: Garamond, serif;
}

.material-symbols-outlined 
{
 color:  #9fff40;
}
b {
    color:  #9fff40 !important;
}

p {
    font-size: 120%;
}
/*End body*/

/*hero menu*/
.header-menu {
    background-image: url(../Pictures/green_restaurant.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    text-align: center;
    color:white;
    font-size: 40px;
  }
  /*Endo hero menu*/

  /*nav of blog*/
  .nav-text {
    font-size: 150%;
  }

  .icon {
    
    color: white;
  }
  
   .icon {
    padding: 30px;
    font-size: 25px;
    width: 30px;
  }

  .icon:hover {
    margin-right: 5px;
	font-size:60px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
    color: #9fff40;;
}

  /*End of nav blog*/

  /*The blog*/
  .title {
    font-size: 340%;
    color: #3ec14b;
  }

  .responsive {
    box-shadow: 4px 4px 2px  rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
    margin-bottom: 5%;
  }

  /*AD*/
  #myVideo {
    right: 0;
    bottom: 0;
  }
  
  .content {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 80%;
    padding: 10px;
  }
  
  #myBtn {
    width: 100px;
    font-size: 18x;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  /*End of AD*/
  /*End of the blog*/

  /*footer*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background:  #3d3d3d!important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

/*End footer*/